body {
    overflow: hidden;
  }
  a {
      display: inline-block;
      padding: 0 4px;
      border-radius: 2px;
      background-color: #fff;
      color: #000;
      text-decoration: none;
      line-height: 21px;
  }
 
  footer{
      text-align: center;
      position: fixed;
      bottom: 0px;
      width: 100%;
      font-size: 16px;
      height: 54px;
      line-height: 54px;
      opacity: 0.5;
      z-index: 1000;
  }
  footer > a{
      z-index: 10;
      font-weight: 700;
      background: #000000;
      color: #fff;
      text-align: center;
      margin-right: 10%;
  }
  .page-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.page-wrapper > input,
  .page-wrapper > a {
      position: fixed;
      top: 0px;
      width: 12.5%;
      cursor: pointer;
      font-size: 16px;
      height: 49px;
      line-height: 44px;
  }
  
  .page-wrapper > input {
      opacity: 0;
      z-index: 1000;
  }
  
  .page-wrapper > a {
      z-index: 10;
      font-weight: 700;
      background: #502a3d;
      color: rgb(211, 146, 50);
      text-align: center;
      text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
  }
  
  /* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
  .page-wrapper:before {
      content: '';
      position: fixed;
      width: 100%;
      height: 54px;
      background: #eca841;
      z-index: 9;
      bottom: 0;
  }
  
  #st-control-1, #st-control-1 + a {
    left: 0;
}

#st-control-2, #st-control-2 + a {
    left: 12.5%;
}

#st-control-3, #st-control-3 + a {
    left: 25%;
}

#st-control-4, #st-control-4 + a {
    left: 37.5%;
}

#st-control-5, #st-control-5 + a {
    left: 50%;
}
#st-control-6, #st-control-6 + a {
    left: 62.5%;
}
#st-control-7, #st-control-7 + a {
    left: 75%;
}
#st-control-8, #st-control-8 + a {
    left: 87.5%;
}

.page-wrapper > input:checked + a,
.page-wrapper > input:checked:hover + a{
    background: rgb(167, 67, 36);
}

.page-wrapper > input:checked + a:after,
.page-wrapper > input:checked:hover + a:after{
    top: 100%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: rgb(167, 67, 36);
    border-width: 20px;
    left: 50%;
    margin-left: -20px;
}

.page-wrapper > input:hover + a{
    background: #a35d41;
}

.page-wrapper > input:hover + a:after {
    border-bottom-color: rgb(167, 67, 36);
}
 
.st-scroll,
.st-panel {
    position: relative;
    width: 100%;
    height: 100vh;
}

.st-scroll {
    top: 0;
    left: 0;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    
    /* Let's enforce some hardware acceleration */
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}

.st-panel{
    background: #db8709ee;
    overflow: scroll;
} 

#st-control-1:checked ~ .st-scroll {
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    -o-transform: translateY(-200%);
    -ms-transform: translateY(-200%);
    transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -o-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);
}
#st-control-5:checked ~ .st-scroll {
    -webkit-transform: translateY(-400%);
    -moz-transform: translateY(-400%);
    -o-transform: translateY(-400%);
    -ms-transform: translateY(-400%);
    transform: translateY(-400%);
}
#st-control-6:checked ~ .st-scroll {
    -webkit-transform: translateY(-500%);
    -moz-transform: translateY(-500%);
    -o-transform: translateY(-500%);
    -ms-transform: translateY(-500%);
    transform: translateY(-500%);
}
#st-control-7:checked ~ .st-scroll {
    -webkit-transform: translateY(-600%);
    -moz-transform: translateY(-600%);
    -o-transform: translateY(-600%);
    -ms-transform: translateY(-600%);
    transform: translateY(-600%);
}
#st-control-8:checked ~ .st-scroll {
    -webkit-transform: translateY(-700%);
    -moz-transform: translateY(-700%);
    -o-transform: translateY(-700%);
    -ms-transform: translateY(-700%);
    transform: translateY(-700%);
}

  /* Content elements */
  
  .st-panel h2, .st-panel h1, .st-panel h3 {
    color: #502a3d;
    text-shadow: 1px 1px 1px rgba(151,24,64,0.2);
    position: relative;
    font-weight: 700;
    font-size: 3.5em;
    width: 80%;
    left: 10%;
    text-align: center;
    line-height: 50px;
    margin: 70px 0 0 0;
    padding: 0;
}
.st-panel h2{
    font-size: 2rem;
}
.st-panel h1{
    color: #ebc59a;
    font-weight: 900;
    top: 0;
}
.preamble{
    border: #821134 1px;
    border-style: groove;
    margin: 5% 25% 10% 25%;
}
.preamble h3{
    font-size: 34px;
    margin: 20px;
}
.wrapper a{
    margin: 1%;
}
.wrapper ul{

    list-style: none;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2,
#st-control-6:checked ~ .st-scroll #st-panel-6 h2,
#st-control-7:checked ~ .st-scroll #st-panel-7 h2,
#st-control-8:checked ~ .st-scroll #st-panel-8 h2{
    -webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
    animation: moveDown 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown{
    0% { 
        -webkit-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveDown{
    0% { 
        -moz-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveDown{
    0% { 
        -o-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveDown{
    0% { 
        -ms-transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveDown{
    0% { 
        transform: translateY(-40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}

  
.st-panel p {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #e6d6c6;
    z-index: 2;
    padding: 0;
    width: 50%;
    left: 25%;
    top: 10%;
    margin: 10px 0 5% 0;
    -webkit-backface-visibility: hidden;
}
.st-panel .last{
    margin-bottom: 10%;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p,
#st-control-6:checked ~ .st-scroll #st-panel-6 p,
#st-control-7:checked ~ .st-scroll #st-panel-7 p,
#st-control-8:checked ~ .st-scroll #st-panel-8 p{
    -webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    -ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
    animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
    0% { 
        -webkit-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -webkit-transform: translateY(0px);  
        opacity: 1;
    }
}

@-moz-keyframes moveUp{
    0% { 
        -moz-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -moz-transform: translateY(0px);  
        opacity: 1;
    }
}

@-o-keyframes moveUp{
    0% { 
        -o-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -o-transform: translateY(0px);  
        opacity: 1;
    }
}

@-ms-keyframes moveUp{
    0% { 
        -ms-transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        -ms-transform: translateY(0px);  
        opacity: 1;
    }
}

@keyframes moveUp{
    0% { 
        transform: translateY(40px); 
        opacity: 0;
    }
    100% { 
        transform: translateY(0px);  
        opacity: 1;
    }
}
@media screen and (max-width: 520px) {
    .st-panel h2, .st-panel h1  {
        font-size: 42px;
    }
    
    .st-panel p {
        width: 90%;
        left: 5%;
        margin-top: 0;
    }
    
    .page-wrapper > a {
        font-size: 13px;
    }
}